<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index.css">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <a href="">home</a>
        </nav>
    </header>

    <main id="country">
        <a href="/" >Back to list</a>

			<article>
				<h3><%= data.label%></h3>
				<p>Culinary speciality : <%= data.recipe %></p>
                <p><%= data.description%></p>
			</article>
    </main>
    
</body>
</html>